@model POS.Models.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<h1>Editar Cliente</h1>

<h4>Cliente</h4>
<hr />

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="NIT" class="control-label"></label>
        <input asp-for="NIT" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Direccion" class="control-label"></label>
        <input asp-for="Direccion" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" type="tel" id="telefono" required />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <script>
        document.getElementById("telefono").addEventListener("input", function (e) {
            this.value = this.value.replace(/[^0-9]/g, '');
        });
    </script>
}
